emp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Employee">
          <xs:complexType>
            <xs:sequence>
              <xs:attribute id="ID" name="Emp_Id" type="xs:unsignedByte" />
              <xs:element name="Emp_Name" type="xs:string" />
              <xs:element name="Emp_Age" type="xs:unsignedByte" />
              <xs:element minOccurs="50000" maxOccurs="200000" name="Emp_Salary" type="xs:unsignedInt" />
              <xs:element name="Emp_Emailid" type="xs:string" />
              <xs:element name="Emp_Phonenum" type="xs:unsignedLong" />
              <xs:element name="Emp_Designation" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>